{% extends 'base.html' %}
{% load static %}


{% block content %}

<main class="container m-auto w-screen h-screen p-2">

    <section class="mt-[90px] w-full h-full rounded pb-5">

        {% if alert != '' %}
            <h1 class="m-auto text-center p-4 text-xl text-black">
                {{alert}}
            </h1>
        {% endif %}


        <h1 class="m-auto text-center p-4 text-xl text-black">
            Youtube Download
        </h1>

        <div class="grid gap-10 m-auto border rounded p-2 w-auto h-auto md:w-[500px] h-auto bg-black/90">

            <form method="post" action="" class="grid gap-5 h-full">

                {% csrf_token %}

                {{ form.link }}        

                <div class="grid grid-cols-2 w-full h-auto items-center text-center">
                    <span class="grid gap-3">
                        {{ form.video }}
                        {{ form.video.label }}
                    </span>
                    <span class="grid gap-3">
                        {{ form.audio }}
                        {{ form.audio.label }}        
                    </span>
                </div>
                
                <button type="submit" value="submit" class="m-auto p-2 bg-blue-500/50 border border-gray-500/50 text-center w-36 rounded text-xl
                    hover:border-white">
                        Get
                </button>

            </form>  



            {% if filename != '' %}                  
                <a href="{% static filename %}" download>            
                    <button class="m-auto p-2 bg-green-500/50 border border-gray-500/50 text-center w-full rounded text-xl
                        hover:border-white">
                            Download
                    </button>
                </a>            
            {% endif%}

        </div>
        

        {% if thumbnail != '' %}
            <div class="m-auto p-2 mt-10 w-auto h-auto md:w-[500px]">
                <img id="video-view" class="m-auto w-full h-full rounded" src="{{thumbnail}}">
            </div>
        {% endif %}

    </section>
</main>
    

{% endblock %}


{% block script %}

<script>
    let video = document.querySelector("#video")
    let audio = document.querySelector("#audio")
    
    function chooseType() {
    
        video.addEventListener("click", function () {
    
            audio.checked = ''
        })
    
        audio.addEventListener("click", function () {
    
            video.checked = ''
        })
    }
    
    chooseType()
</script>

{% endblock %}